@font-face {
  font-display: swap;
  font-family: Films;
  src: url("assets/file.woff2") format("woff2"),
      url("assets/file.woff") format("woff"),
      url("assets/file.ttf") format("ttf");
}

html {
  /* background: var(--black80); */
  background: white;
  overflow: overlay;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: var(--m4); */
}
body, button {
  /* font-family: sans-serif; */
  /* font-family: Films; */
  font-family: "Fira Sans Condensed";
  letter-spacing: .05em;
  font-weight: 300;
}

.Name,
nav {
  font-family: Films;
  letter-spacing: .2em;
}

.Section {
  width: 100vw;
  min-height: calc(100vh - var(--vh-dif));

  padding: var(--page-pad-v) var(--page-pad-h);

  /* background: white; */
  /* box-shadow: 0 0 24px 8px black; */
  /* box-shadow: 0 0 24px -8px black; */
}

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* justify-content: space-between; */

  .__name {
    font-size: var(--m6);
    text-transform: uppercase;

    > *:nth-child(2) {
      color: var(--black60);
      transform: scaleY(-1);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: var(--m4);

    /* gap: 94px; */
    margin-top: calc(2 * var(--m6));

    font-size: var(--m5);

    a {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
    }
  }

  .__bg {
    position: absolute;
    inset: 0;
    z-index: -2;
    background: url(assets/pics/preview/IMG_2700.jpg);
    background-size: cover;
/*    opacity: 1;*/
  }

  .__bg-grad {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0) 80%);
    opacity: 1;
  }

  /* &:last-child { filter: invert(1); } */
}

.__contacts {
  font-size: var(--m4);
  white-space: pre-line;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.About {
  display: flex;
  flex-direction: column;
  gap: var(--m8);

  > article {
    display: flex;
    flex-direction: column;
    gap: var(--m4);
  }

  h2 {
    text-transform: uppercase;
  }

  p {
    text-align: justify;
  }
}

.Pic {
  --pad: var(--page-pad-h);
  display: flex;
  flex-direction: column;
  gap: var(--m6);

  /* &.--no-pad { } */
  a {
    position: relative;
    overflow: hidden;

    box-shadow: 0 0 0px 0 black;
    transition: .8s all;
  }

  img {
    max-height: 85vh;
    width: 100%;

    object-fit: contain;
    object-position: center;
    transition: .8s all;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .8);
  }

  figcaption {
    display: flex;
    flex-direction: column;
    min-width: 240px;

    font-size: var(--m3);

    .__name, .__year {
      color: var(--black80);
      font-weight: bold;
    }

    .__price {
      font-size: var(--m4);
      line-height: var(--m6);
      margin-top: var(--m4);
    }

    > * { display: block }
  }
}

@media (max-width: 719px) {
  .Pic a {
    width: calc(100% + 2 * var(--pad));
    margin-left: calc(-1 * var(--pad));
  }
}

.Section .Pic:nth-child(1) {
  margin-top: calc(-1 * var(--page-pad-v));
}

.TriplePic {
  display: flex;
  flex-direction: column;
  gap: var(--m6);

  .Pic { margin-bottom: var(--m4) }
}


.Pic:hover {
  a {
    z-index: 5;
    transform: scale(1.04);
    transition-delay: 1s;
    /* box-shadow: 0 0 12px -4px black; */
  }

  img {
    transition-delay: 1s;
    transform: scale(1.3);
  }
}


button.Btn--buy {
  --col: #db4300;
  --bg: white;
  padding: var(--m2) var(--m6);
  float: right;

  color: var(--col);
  font-weight: 500;

  background: var(--bg);
  border: 1px solid var(--col);
  border-radius: 2px;
  cursor: grab;

  transition: .2s all;

  &:hover {
    --col: white;
    --bg: #db4300;
    transform: scale(1.1);
  }
}

.Page:not(:has(> :target)) {
  display: none;
}

.Outro {
  justify-content: space-between;

  nav {
    display: none;
  }
}

.Page:has(> :target) ~ .Outro nav {
  display: flex;
}

.Name {
  font-size: var(--m6);
  font-weight: 200;
  /* text-transform: uppercase; */

  --bg-opaq: .7;
  background: rgba(255, 255, 255, var(--bg-opaq));
  backdrop-filter: blur(10px);

  a {
    color: inherit;
    text-decoration: none;
  }

  &header {
    position: absolute;
    top: 50vh;
    left: 0;
    z-index: 12;

    width: 100vw;
    padding: var(--m4) var(--page-pad-h);

    a {
      display: block;
      max-width: 1152px;
      margin: 0 auto;
/*      padding-left: var(--page-pad-h);*/
    }
  }
}



.Page__anchor {
  position: absolute;
  margin-top: -64px;
}