:root {
  --m1: 4px;
   /* 8 */
  --m2: calc(var(--m1) * 2);
   /* 12 */
  --m3: calc(var(--m1) * 3);
   /* 16 */
  --m4: calc(var(--m1) * 4);
   /* 24 */
  --m5: calc(var(--m1) * 6);
   /* 32 */
  --m6: calc(var(--m1) * 8);
   /* 48 */
  --m7: calc(var(--m1) * 12);
   /* 64 */
  --m8: calc(var(--m1) * 16);

  --page-pad: var(--m6);
  --black80: rgba(0, 0, 0, .8);
  --black60: rgba(0, 0, 0, .6);
}